#main {
        margin-letf:10%;
        padding-top: 3%;
        width: 1280px;
        height: 5000px;
    }
    div>detail_page{
    margin:  1% 10%;
    }
    nav.menu{
        display: flex;
        justify-content: space-around;
        
    }
    .menu>ul>li>a{
        text-decoration: none;
        font-size: 24px;
        font-weight: bolder;
        color:black;
        letter-spacing:10px;
    }
    .menu>ul>li>a:hover{
        color:rgb(216, 188, 146);
    }

    
