/* 전체페이지 스타일 */
* {
	margin: 0;
	padding: 0;
	color: #555555;
	list-style-type: none;
	text-decoration: none;
	font-family: 'GmarketSansMedium';
}

@font-face {
	font-family: 'GmarketSansMedium';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
		format('woff');
	font-weight: 300;
	font-style: normal;
}
:root {
  --btn-radius: 2rem;
  --img-radius: 1rem;
  --element-back-color: red;
  --be-color:#F5E7D2; /* 연한 베이지 버튼 */
  --ye-color:#FBEFD3; /* 연한 노란색 버튼 */
  --dk-color:#E8D6C3; /*진한베이지 버튼 */
  --footer-col:#F3EEE6; /* footer 색상 */
  --main-col-lt:#FFFCF5; /* main primary */
  --main-col-dk:#555555; /* border 컬러*/
  --border-color:#F6E9DF; /*border  연한 컬러*/
  --border-light:1px solid #F6E9DF;
  --font-small:0.8rem; /* button 폰트 사이즈 */
  --btn-padding:0.4rem 0.6rem; /* button padding 값 */
  --hr-style:0.5px solid #888888; /* 제목 아래 선 그을 때 자주 사용함 (제가 사용해서 뒀어요) */
  --section-width:70%; 
  --section-center:0 auto;
  
  --seciton-margin:2rem auto; /* 70% 적용된 섹션이 중앙 정렬 됩니다 */
  --title-marginTop: 4rem; /*title margin-top */
  --btn-bold:bolder;
  --line-style:1px solid #555555;
  --fontBold:"GmarketSansBold";
}
/* 사용법
적용하고 싶은 영역 
	{
	border-radius:var(--btn-radius);
	} 
*/


/* 전체헤더 */
header {
	background-color:var(--main-col-lt);
	position: sticky;
	top: 0;
	width: 100%; 
	z-index: 100;
	height: 77px;
	box-sizing: border-box;
}

.icon :first-child {
	cursor: pointer;
}

.i-searchIcon {
	cursor: pointer;
}

/* 헤더 내용 */
#headerContainer {
	width: 70%;
	margin: auto;
	display: flex;
	align-items: center;
	height: auto;
}

/* 로고 */
#logo {
	width: 90px;
	height: 60px;
	padding: 5px 0 5px 0;
}

/* 메뉴 */
.menu {
	width: 60%;
}

/* 돋보기 누르면 나오는 검색창 */
#hiddenseach {
	margin-left: 30%;
}

/* 검색창 설정 */
#hiddenseach input {
	width: 140%;
	height: 25px;
	border-radius: 10px;
	margin-bottom: 6%;
	display: none;
	padding-left: 2%;
}

/* 카테고리 */
#categories {
	cursor: pointer;
	display: flex;
	width: 110px;
	justify-content: space-between;
	margin-left: 3%;
}

/* 카테고리 부등호 */
#categories img {
	position: relative;
	top: 4px;
	left: 5px;
	transform: rotate(90deg);
}

/* 카테고리 테이블 */
#categoriesTable {
	border-top: 1px solid #FFFCF5;
	border-bottom: 1px solid #FFFCF5;
	display: flex;
	justify-content: center;
	background-color:var(--main-col-lt);
	width: 100%;
	border-collapse: separate;
	border-spacing: 0 0;
	padding-bottom: 10px;
}

/* 카테고리 td */
.ca {
	font-size: 18px;
	font-weight: bolder;
}

/* 카테고리 td tr */
#categoriesTable td, tr {
	font-size: 16px;
	padding-left: 200px;
	height: 50px;
	text-align: center;
}

::placeholder {
	font-weight: 800;
}

/*헤더 아이콘 */
.iconContainer {
	display: flex;
	justify-content: space-around;
	width: 50%;
}

/* 오른쪽헤더전체 */
.i-loginHeadr {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 40%;
}
/* 로그인시 헤더인포 */
.i-iconinfo {
	width: 40%;
	display: flex;
	align-items: center;
	white-space: nowrap;
}

/* 로그인시프로필사진 */
.i-iconinfoimg {
	border-radius: 100px;
	margin-right: 3%;
}
/* 로그인시 유저닉네임 */
#i-iconinfouser {
	align-items: center;
	text-align: end;
	font-weight: 900;
	overflow: hidden;
	padding-right: 1%;
	text-overflow: ellipsis;
}
/* 로그인시 님글자 */
.i-nim {
	margin-right: 3%;
}
/* 로그아웃버튼 */
.i-logout {
	margin-left: 10%;
	font-size: 16px;
	font-weight: 900;
}

/* 알람 아이콘 */
.notification-icon {
	position: relative;
	margin-right: 1em;
	border-radius: 5px;
}

/* 알람 갯수 */
.num-count {
	position: absolute;
	user-select: none;
	cursor: default;
	font-size: 0.6rem;
	background: #e74c3c;
	width: 1.2rem;
	height: 1.2rem;
	color: #ecf0f1;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	top: -0.33rem;
	right: -0.66rem;
	box-sizing: border-box;
}

/* 알람 전체 */
.notification-container {
	background-color: #FFFBF5;
	display: none;
	cursor: default;
	position: absolute;
	z-index: 999;
	margin-left: 10px;
	margin-top: 270px;
	width: 400px;
	font-weight: 300;
	border-radius: 0.5rem;
	box-sizing: border-box;
	box-shadow: 0.5rem 0.5rem 2rem 0 rgba(0, 0, 0, 0.2);
}

/* 알람 세부목록 */
.notification {
	height: 3.25rem;
	padding: 0.5rem 0.5rem 2.0rem 2.0rem;
	font-size: 70%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* 알람 내용  */
.i-notifcationTotal {
	height: 80px;
}
/* 비로그인시 로그인이동버튼 */
.i-loginMove {
	background-color: #FFFBF5;
	display: none;
	cursor: default;
	z-index: 999;
	
	width : 10%; 
	font-size : 16px;
	text-align: center;
	font-weight: 300;
	border-radius: 0.5rem;
	box-sizing: border-box;
	box-shadow: 0.5rem 0.5rem 2rem 0 rgba(0, 0, 0, 0.2);
}

/* 화면 너비가 1800px 이상일 때 */
@media ( min-width : 1200px) {
	.i-loginMove {
		margin-left: 73%;
	}
}

/* 화면 너비가 800px 이상 1400px 이하일 때 */
@media ( min-width : 800px) and (max-width: 1440px) {
	.i-loginMove {
		margin-left: 73%;
	}
}

/* 비로그인시 로그인버튼 전체 */
.i-loginToggle {
	display: flex;
	flex-direction: column;
}
/* 멤버 로그인 글씨 */
.i-memberLoginMove {
	display: flex;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
	justify-content: center;
	padding-bottom: 3%;
	padding-top: 3%;
}
/* 호스트로그인 글씨 */
.i-hostLoginMove {
	display: flex;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
	justify-content: center;
	padding-bottom: 3%;
	padding-top: 3%;
}

/* 알림타입 */
.i-notType {
	margin-top: 2%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 2%;
	font-weight: 900;
	color: black;
}

/* 알람 목록 */
.notification-container::before {
	content: "";
	position: absolute;
	top: 0px;
	right: 0;
	width: 0;
	height: 0;
	transform: translate(-1rem, -100%);
	border-left: 0.75rem solid transparent;
	border-right: 0.75rem solid transparent;
	border-bottom: 0.75rem solid white;
}

/* 화면 너비가 1800px 이상일 때 */
@media ( min-width : 1800px) {
	.notification-container {
		margin-left: 3%;
	}
}

/* 화면 너비가 800px 이상 1400px 이하일 때 */
@media ( min-width : 800px) and (max-width: 1440px) {
	.notification-container {
		margin-right: 5%;
	}
}
@media ( min-width : 1500px) and (max-width: 1700px) {
	.notification-container {
		margin-right: 3%;
	}
}

/* 알람스크롤 */
.scroll-snap-card {
	margin-bottom: 2%;
	height: 200px;
	overflow: scroll;
	border-radius: 10px;
}

/* 알람스크롤바없애기 */
.scroll-snap-card::-webkit-scrollbar {
	display: none;
}

/* 알림 체크박스 */
input.checkbox[type=checkbox] {
	display: none;
}

/* 알람체크박스2 */
input.checkbox[type=checkbox]+label {
	display: block;
}

/* 삭제 체크박스 */
input.checkbox[type=checkbox]:not(:checked)+label {
	transition: height 0.25s;
	height: 0;
	padding: 0;
	font-size: 0;
	border: none;
}

/* 삭제체크박스 숨김 */
input.checkbox[type=checkbox]:not(:checked)+label * {
	display: none;
}

/* 삭제후 사라지는애니메이션 */
input.checkbox[type=checkbox]:checked+label {
	height: 3.25rem;
	padding: 1.125rem 4rem 0.75rem 2rem;
	font-size: 75%;
}

.footer {
	width: 100%;
	flex-direction: column;
	background-color: #F3EEE6;
}

.footer div {
	width: 70%;
	margin: 0 auto;
	display: flex;
	/* padding: 1% 0; */
}

.footer>div {
	padding: 1% 0;
}

.usMenu ul {
	width: 100%;
}

.usInfo .copyright {
	width: 160%;
	margin-right: auto;
}

.aside {
	flex-direction: column;
	padding-left: 5%;
}

a {
	color: inherit;
}
.i-recentlySearch{

}