/*폰트 */
@font-face {
	font-family: "GmarketSansLight";
	src:
		url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "GmarketSansMedium";
	src:
		url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "GmarketSansBold";
	src:
		url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}

hr {
	margin: 1rem auto;
}
/* img slide */
* {
	box-sizing: border-box;
}

body {
	background-color: #FFFCF5;
}

#mainOpacity {
	background-color: #FFFCF5;
}

/* banner */
section.banner {
	width: 100%;
	background-color: #FBEFD3;
	margin: 6rem 0;
}

.h-banner-container {
	width: 70%;
	margin: 0 auto;
	display: flex;
}

.banner-area {
	width: 100%;
	margin: 2rem 0;
}

.banner-area div {
	width: 6rem;
	height: 3rem;
	background-color: #595959;
	margin-left: auto;
	margin-right: 1rem;
}

button {
	width: 5rem;
	height: 2rem;
	background-color: #E8DFD1;
	border-radius: 2rem;
	border-style: none;
	margin: 1rem auto 0 0;
}

/* slide-img*/
.sec2 {
	margin: 5% 0 5% 15%;
	width: 85%;
	height: auto;
	align-items: end;
	display: flex;
}

.sec2 .text {
	width: 40%;
	color: #595959;
	display: flex;
	font-size: 1.5rem;
	flex-direction: column;
}

.sec2 .text span {
	font-family: "GmarketSansMedium";
}

.gallery {
	display: flex;
	width: 100%;
	grid-column-gap: 1rem;
	overflow-x: scroll;
	scroll-snap-type: both mandatory;
	scroll-padding: 1rem;
}

.active {
	scroll-snap-type: unset;
}

li {
	scroll-snap-align: center;
	display: inline-block;
	font-size: 0;
	width: 480px;
}

li img {
	width: 360px;
	height: 500px;
	border-radius: 20px;
}

body h2 {
	width: 70%;
	margin: 0 auto;
	font-family: "GmarketSansBold";
}
/* new class section */
section.imgContainer {
	width: 70%;
	margin: 0 auto;
	display: flex;
	margin-bottom: 3rem;
}

.img-list {
	width: 25%;
	margin: 2rem 1rem 2rem 0;
	height: 20rem;
}

section.imgContainer .img-list:last-child {
	margin-right: 0;;
}

section.imgContainer .img-list img {
	width: 100%;
	height: 15rem;
	border-radius: 2rem;
}

section.imgContainer .img-list h4 {
	margin-top: 0.5rem;
	font-family: "GmarketSansMedium";
}



/* secion 3 best-class */
section.h-best-class>div:first-child {
	width: 50%;
}

section.h-best-class>div:first-child img {
	height: 40rem;
	filter: brightness(80%);
}

section.h-best-class>div:first-child a img:hover {
	transition: transform 1s;
	filter: brightness(60%);
}

section.h-best-class>div:first-child h4 {
	position: relative;
	top: -23rem;
	text-align: center;
	font-size: 2rem;
	color: #ffffff;
}

section.h-best-class>div:first-child>button {
	position: relative;
	color: #ffffff;
	font-family: "GmarketSansMedium";
	top: -22rem;
	left: 40%;
	width: 5rem;
	height: 2rem;
	background-color: rgba(0, 0, 0, 0);
	border: 2px solid #ffffff;
}

div.img-list-row-container {
	width: 50%;
	display: flex;
	flex-direction: column;
}

section.h-best-class div.img-list-row {
	width: 100%;
	display: flex;
}

section.h-best-class div.img-list-row .img-list {
	width: 50%;
	margin: 2rem 1rem 0 0;
	height: 20rem;
}

section.h-best-class div.img-list-row .img-list:last-child {
	margin-right: 0;
}

/* host -main */
/* host-menu */
section.h-menu {
	width: 100%;
	background-color: #FDF7E8;
}

section.h-menu>div {
	width: 70%;
	margin: 0 auto;
	display: flex;
}

section.h-menu>div table {
	width: 100%;
	text-align: center;
	padding: 1rem 0;
}

section.h-menu>div table * {
	height: 2rem;
	font-size: 0.9rem;
}

section.h-menu>div table th {
	font-size: 1rem;
	font-family: "GmarketSansBold";
}

section.h-menu>div table a:hover {
	font-family: "GmarketSansBold";
	border-bottom: 1px solid #555555;
}

/* host-main section*/
section.h-main {
	width: 70%;
	margin: 2rem auto;
}
/* host-main-title */
div.h-main-title {
	margin-top: 4rem;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

div.h-main-title h2 {
	width: 100%;
	margin: 0 auto;
}
/* + button */
div.h-viewList {
	margin-left: auto;
	font-size: 2rem;
	font-family: "GmarketSansBold";
	width: 2rem;
	height: 2rem;
	font-weight: bolder;
}
/* 달력 넣기 */
.h-r-callendar {
	width: 100%;
	margin: 2rem auto;
}

section.h-main table {
	width: 100%;
	text-align: center;
	margin: 1rem auto;
}

section.h-main-rsvList table {
	border: 1px solid #444444;
	border-collapse: collapse;
	clear: both;
}

section.h-main-rsvList table th, section.h-main-rsvList table td {
	border: 1px solid #444444;
	height: 2.2rem;
}

#h-main-chart {
	margin: 0 auto;
	width: 100%;
	height: 500px;
}
/*  */
/*month/week/day*/
.fc-button-active {
	border-color: #ffc107 !important;
	background-color: #ffc107 !important;
	color: #000 !important;
	font-weight: bold !important;
}

#h-main-calendar button {
	border: 0;
	color: #555555;
	background-color: #FBEFD3;
	border-radius: 2rem;
}

.fc-toolbar-title {
	font-size: 1rem;
}