/*폰트 */
@font-face {
	font-family: "GmarketSansLight";
	src:
		url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "GmarketSansMedium";
	src:
		url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "GmarketSansBold";
	src:
		url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}

:root {
  --btn-radius: 2rem;
  --img-radius: 1rem;
  --be-color:#F5E7D2; /* 연한 베이지 버튼 */
  --ye-color:#FBEFD3; /* 연한 노란색 버튼 */
  --dk-color:#E8D6C3; /*진한베이지 버튼 */
  --footer-col:#F3EEE6; /* footer 색상 */
  --main-col-lt:#FFFCF5; /* main primary */
  --main-col-dk:#555555; /* border 컬러*/
  --border-color:#F6E9DF; /*border  연한 컬러*/
  --border-light:1px solid #F6E9DF;
  --font-small:0.8rem; /* button 폰트 사이즈 */
  --btn-padding:0.4rem 0.6rem; /* button padding 값 */
  --hr-style:0.5px solid #888888; /* 제목 아래 선 그을 때 자주 사용함 (제가 사용해서 뒀어요) */
  --section-width:70%; 
  --section-center:0 auto;
  
  --seciton-margin:2rem auto; /* 70% 적용된 섹션이 중앙 정렬 됩니다 */
  --title-marginTop: 4rem; /*title margin-top */
  --btn-bold:bolder;
  --line-style:1px solid #555555;
  --fontBold:"GmarketSansBold";
}
/* 사용법
적용하고 싶은 영역 
	{
	border-radius:var(--btn-radius);
	} 
*/


hr {
	margin: 1rem auto;
	border: var(--hr-style);
}
/* img slide */
* {
	box-sizing: border-box;
}

body {
	background-color:var(--main-col-lt);
	min-height:700px;
}

#mainOpacity {
	background-color: var(--main-col-lt);
}


/* host -main */
/* host-menu */
section.h-menu {
	width: 100%;
	background-color: #FDF7E8;
}

section.h-menu>div {
	width: 70%;
	margin: 0 auto;
	display: flex;
}

section.h-menu>div table {
	width: 100%;
	text-align: center;
	padding: 1rem 0;
}
/* 메뉴 안 전체스타일 */
section.h-menu>div table * {
	height: 2rem;
	font-size: 0.9rem;
}
/* 메뉴 제목 스타일 */
section.h-menu>div table th {
	font-size: 1rem;
	font-family: "GmarketSansBold";
}
/* 메뉴 호버 효과*/
section.h-menu>div table a:hover {
	font-family: "GmarketSansBold";
	border-bottom: var(--line-style);
}

/* host-main section*/
section.h-main {
	width: 70%;
	margin: 2rem auto;
}
/* host-main-title */
div.h-main-title {
	margin-top: var(--title-marginTop);
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

div.h-main-title h3 {
	width: 100%;
	margin: 0 auto;
}
/* + button */
div.h-viewList {
	margin-left: auto;
	font-size: 2rem;
	font-family: "GmarketSansBold";
	width: 2rem;
	height: 2rem;
	font-weight: var(--btn-bold);
}
/* 달력 넣기 */
.h-r-callendar {
	width: 100%;
	margin: 2rem auto;
}

section.h-main table {
	width: 100%;
	text-align: center;
	margin: 1rem auto;
	font-size: 0.8rem;
}

section.h-main-rsvList table, table#h-main-calc-tbl{
	border-collapse: collapse;
	clear: both;
}

section.h-main-rsvList table th, section.h-main-rsvList table td, table#h-main-calc-tbl th, table#h-main-calc-tbl td{
	border: 1px solid #444444;
	height: 2.2rem;
}
/* host-main-chart style */
#h-main-chart {
	margin: 0 auto;
	width: 100%;
	height: 500px;
}
/* host-main-calendar btn style */
/* calendar title */
.fc .fc-toolbar-title {
    font-size: 1.2em;
    margin: 0;
  }
 
/*month/week/day*/
.fc-button {
	background-color:var(--ye-color);
}
.fc-button-active {
	border-color: #ffc107 !important;
	background-color: #ffc107 !important;
	color: var(--main-col-dk) !important;
	font-weight: var(--btn-bold) !important;
}
.fc-toolbar-chunk:nth-child(2){
	width:40%;
	display:flex;
	justify-content: center;
}
.fc-toolbar-chunk:nth-child(2) button{
	width:3rem;
	height:3rem;
}
.fc-toolbar-chunk:nth-child(2) .fc--button {
	display:none;
}

#h-main-calendar button {
	border: 0;
	color: var(--main-col-dk);
	background-color: var(--main-col-lt);
	border-radius: var(--btn-radius);
}

.fc-toolbar-title {
	font-size: 1rem;
}

/* class list page */
div.h-class-list-container{
	display:flex;
	width:100%;
	flex-wrap: wrap; /*복수의 행*/
	
}
/* host-class page select */
select#h-selectClassStatus, select#h-selecCalcStatus, select#h-selectPaymentStatus, select#h-selectPaymentDate{
  
  width: 10rem;
  height: 35px;
  background-color:var(--main-col-lt);
  padding: var(--btn-padding);
  border-radius: var(--btn-radius);
  outline: 0 none;
}
select#h-selectPaymentDate{
	margin-right: 2rem;
}
select#h-selectClassStatus option, select#h-selecCalcStatus option, select#h-selectPaymentStatus option, select#h-selectPaymentDate option{
  background: #ffc107 ;
  padding: 0.5rem 0.2rem;
}
/* host class page - class list */
div.h-class-list {
	width:50%;
	border-top:var(--border-light);
	border-bottom:var(--border-light);
	display:flex;
	align-items: center;
	margin-bottom:1rem;
}

/* 홀수 번쨰 클래스 리스트에 오른쪽 여백  */
div.h-class-list:nth-child(odd){
	margin-right: 1%;
}

div.h-class-list{
	width:49%;
}

div.h-class-list img{
	width: 7rem;
	height:7rem;
	object-fit:cover;
	margin:1rem 1rem 1rem 0;
	display:flex;
	border-radius: var(--img-radius);
}

/* class table style*/
div.h-class-list table{
	width:75%;
	font-size:0.8rem;
	margin:1rem auto;
	border:0;
} 
div.h-class-list table .h-tbl-align-left{
	text-align:left;
}
div.h-class-list table tr:nth-child(2)>td{
	font-size: 1rem;
}
div.h-class-list table td, div.h-class-list table th{
	border:0px;
	height:1.8rem;
}


/* class sub page*/
section.h-class-sub h2{
	margin: 3rem 0 2rem 0;
}
section.h-class-sub h3{
	margin: 1rem 0;
}
section.h-class-sub div.h-class-list{
	width:100%;
	align-items:flex-start;
}
/* class subpage - table resize */
section.h-class-sub div.h-class-list table.h-classDetailTblInfo {
	width:100%;
	font-size:1rem;
}
section.h-class-sub div.h-class-list table.h-classDetailTblInfo *{
	height:2rem;
	text-align: left;
}
/* class subpage - img resize */
section.h-class-sub div.h-class-list img{
	width:12rem;
	height:12rem;
	margin-right:3rem;
}
/* table 안의 className에 bold 속성 */
table .h-tbl-className{
	font-weight:bold;
}
/* .h-class-list 내부 button container  */
div.h-class-list div{
	margin: auto 0 2rem 1rem;
	flex-direction:row;
	width:8rem;
	justify-content: space-around;
	
}
div.h-class-detail>div{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/* .h-class-sub page 내부 button style */
div.h-class-list button, .h-class-sub button, .h-class-detailTbl button, div.h-class-detail button, 
.h-profile button , section.h-calc #h-UpdateHostAccount, .h-calc #h-UpdateHostAccount, .h-updateAccInfo button {
	margin-left:2rem;
	width:var(--title-marginTop);
	font-weight: var(--btn-bold);
	background-color: var(--ye-color);
	border:0px;
	border-radius: var(--btn-radius);
	padding: var(--btn-padding);
	font-size: var(--font-small);
}
/* CLASS SUB-PAGE */
.h-insert-class-detail {
	font-size: 2rem;
}
/* class-sub page> h-class-detail */
div.h-class-detail table td, div.h-class-detail table th{
	height:2.5rem;
}
/* th 아래 밑줄 */
div.h-class-detail>table th{
	border-bottom: var(--border-light);
}
/* table 첫번째 align-left */
div.h-class-detail>table tr>th:first-child,  div.h-class-detail>table tr>td:first-child{
	text-align: left;
}
/* 삭제 btn align:right */
div.h-class-detail table .h-class-tbl-btn{
	text-align: right;
}
/* 클래스 세부 페이지 */
section.h-class-sub div {
	width: 100%;
	text-align: right;
	margin-bottom: 1rem;
}
/* 세부 페이지 버튼 스타일*/
section.h-class-sub button.h-moveToClassList {
	width: 10rem;
	margin-right: auto;
}
/* 세부클래스 소제목 스타일 */ 
section.h-class-sub h3 {
	width: 100%;
	text-align: left;
}
/* host-profile page */
section.h-profile{
	width:50%;
	margin: 3rem auto;
}

section.h-profile #h-edit-pf{
	width:2.5rem;
	height:2.5rem;
	padding: 0.1rem;
	background-color: #ffffff;
	border-radius: 10rem;
	border: 2px solid #333333;
	position: relative;
	left:-3rem;
}
.h-profile-info {
	width:100%;
}
.h-profile-info table{
	margin: 8rem 0;
}
.h-profile-info table *{
	height:2rem;
	margin: 0.5rem 0;
}
.h-profile-info>table input{
	width:35rem;
	border-radius: 2rem;
	padding: 0 1rem;
}
button.h-submit{
	margin-left: auto;
}

/* host-calc page */
table.h-calc-tbl {
	width: 100%;
	border-collapse : collapse;
}

table.h-calc-tbl td {
	height: 2rem;
	text-align:center;
	font-size:1rem;
	border-collapse : collapse;
}

table.h-calc-tbl tr:nth-child(odd) {
	font-family: "GmarketSansBold";
	border-bottom: var(--border-light);
}

section.h-calc>div{
	text-align: right;
}
section.h-calc button {
	margin-left:0;
	margin-right:auto;
} 


/* host page paging bar*/
/* 페이지바 */
.pageBar {
	display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: auto;
    padding: 3% 0;
}


.pageBar * {
	margin: 0.3rem;
}

.pageBar .h-pageBar-txt {
	padding: 0.5rem 0.8rem;
	background-color: var(--ye-color);
	border-radius: var(--btn-radius);
	font-size: 0.9rem;
}

.pageBar .h-pageBar-now {
	font-weight: bold;
}
/* 페이징처리 호버 */
.pageBar a:hover {
	color: gray;
}
/* updateCalc page*/
section.h-updateAccInfo {
	width: 100%;
}

section.h-updateAccInfo>div {
	display: flex;
	justify-content: space-between;
}

section.h-updateAccInfo>div:last-child {
	display: block;
	text-align: right;
	margin-top: 2rem;
}

section.h-updateAccInfo span {
	font-size: 0.8rem;
}

.h-updateAccInfo button {
	margin-right: auto;
}


/* 회원탈퇴전체배경 */
.i-withdrawaltotal {
	padding-bottom: 3%;
	background-color: #FFFBF5;
}

/* 탈퇴 전체 */
.i-withdrawal {
	margin: auto;
	width: 70%;
}
/* 회원탈퇴h2*/
.i-withdrawalh2 {
	padding-top: 1%;
	padding-bottom: 1%;
	border-bottom: 2px solid #efebe5;

	/* 회워탈퇴전체 */
}

.i-withdrawalcontent {
	display: flex;
	flex-direction: column;
	align-items: center;
}
/* 떠나실건가요? */
.i-withdrawalcontent h1 {
	margin-top: 2%;
}
/* 회원탈퇴전 확인 */
.i-withdrawalcontent h3 {
	margin-top: 2%;
}
/* 탈퇴조약 */
.i-withdrawalcontent-span {
	margin-top: 5%;
	display: flex;
	flex-direction: column;
}
/* 탈퇴조약 상세 */
.i-withdrawalcontent-span span {
	margin-bottom: 5%;
}
/* 회원탈퇴버튼 */
.i-withdrawalbutton {
	font-weight: var(--btn-bold);
	width: 100px;
	height: 50px;
	border-radius: var(--btn-radius);
	background:var(be-color);
	border: none;
	cursor: pointer;
	margin-left: 45%;
}

/* 회원탈퇴end배경 */
.i-withdrawalendtotal {
	padding-bottom: 3%;
	background-color: #FFFBF5;
}
/* 회원탈end  */
.i-withdrawalendh2 {
	padding-top: 3%;
	padding-bottom: 1%;
	border-bottom: 2px solid #efebe5;
}
/* 회원탈퇴end입력 상세 */
.i-withdrawalendcontent {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 2%;
}
/* 회원탈퇴비밀번호입력end h2 */
.i-withdrawalendcontent h2 {
	margin-top: 10%;
}
/* 회원탈퇴비밀번호입력창end */
.i-withdrawalendcontent input {
	margin-top: 4%;
	width: 400px;
	height: 40px;
	border-radius: var(--element-radius);
	padding-left: 3%;
	border: 2px solid #5555;
}
/* 회원탈퇴버튼end */
.i-withdrawalendbutton {
	margin-top: 5%;
	font-weight: bolder;
	width: 100px;
	height: 50px;
	border-radius: 60px;
	background: var(--be-color);
	border: none;
	cursor: pointer;
}

#h-hostAccountBack, #deleteClass{
	width:6rem;
	margin-left:1rem;
	margin-top:1rem;
}
.hCbtnContainer {
	width: 10%;
	padding-bottom:0;
}
.hcaTitleC {
	display: flex;
	 justify-content: center;
}
.hcaTitleC button, #h-insertClassDetail, #h-addScheduleBtn, .addTime {
	width: 10rem;
	margin-bottom:0;
}
