/*폰트 */
@font-face {
	font-family: "GmarketSansLight";
	src:
		url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "GmarketSansMedium";
	src:
		url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "GmarketSansBold";
	src:
		url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}

hr {
	margin: 1rem auto;
}
/* img slide */
* {
	box-sizing: border-box;
}

body {
	background-color: #FFFCF5;
}

#mainOpacity {
	background-color: #FFFCF5;
}


/* host -main */
/* host-menu */
section.h-menu {
	width: 100%;
	background-color: #FDF7E8;
}

section.h-menu>div {
	width: 70%;
	margin: 0 auto;
	display: flex;
}

section.h-menu>div table {
	width: 100%;
	text-align: center;
	padding: 1rem 0;
}

section.h-menu>div table * {
	height: 2rem;
	font-size: 0.9rem;
}

section.h-menu>div table th {
	font-size: 1rem;
	font-family: "GmarketSansBold";
}

section.h-menu>div table a:hover {
	font-family: "GmarketSansBold";
	border-bottom: 1px solid #555555;
}

/* host-main section*/
section.h-main {
	width: 70%;
	margin: 2rem auto;
}
/* host-main-title */
div.h-main-title {
	margin-top: 4rem;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

div.h-main-title h2 {
	width: 100%;
	margin: 0 auto;
}
/* + button */
div.h-viewList {
	margin-left: auto;
	font-size: 2rem;
	font-family: "GmarketSansBold";
	width: 2rem;
	height: 2rem;
	font-weight: bolder;
}
/* 달력 넣기 */
.h-r-callendar {
	width: 100%;
	margin: 2rem auto;
}

section.h-main table {
	width: 100%;
	text-align: center;
	margin: 1rem auto;
}

section.h-main-rsvList table {
	border: 1px solid #444444;
	border-collapse: collapse;
	clear: both;
}

section.h-main-rsvList table th, section.h-main-rsvList table td {
	border: 1px solid #444444;
	height: 2.2rem;
}

#h-main-chart {
	margin: 0 auto;
	width: 100%;
	height: 500px;
}
/*  */
/*month/week/day*/
.fc-button-active {
	border-color: #ffc107 !important;
	background-color: #ffc107 !important;
	color: #000 !important;
	font-weight: bold !important;
}

#h-main-calendar button {
	border: 0;
	color: #555555;
	background-color: #FBEFD3;
	border-radius: 2rem;
}

.fc-toolbar-title {
	font-size: 1rem;
}

/* host class list page */
div.h-class-list {
	width:50%;
	border:1px solid red;
	display:flex;
}


div.h-class-list>img{
	width: 6rem;
	height: 6rem;
}

div.h-class-list table{
	font-size:0.8rem;
	margin:0 auto;
	border: 0px;
}
div.h-class-list table td, div.h-class-list table th{
	border:0px;
	height:1.8rem;
}
	

